*{
    padding: 0;
    margin:0;
}

body{
    background-color: rgb(217, 203, 184);
    font-family: "PT Serif", serif;
}
.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
  }
  
.logo {
    display: flex; /* Organizar logo en fila */
    align-items: center; /* Centrar verticalmente imagen y texto */
}

.logo img {
    width: 60px; /* Tamaño de la imagen del logo */
    height: auto; /* Mantener proporciones */
    margin-top: 3px;
    margin-left: 9px;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Añadir transición */
}
.logo img:hover{
    transform: scale(1.1); /* Agrandar al pasar el cursor */
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centrar verticalmente todos los elementos */
    padding: 0px 5px 5px 0px;
    background-color:  #685841;
}

.nav-links {
    list-style: none; /* Quitar viñetas */
    margin: 0;
    padding: 0;
    display: flex; /* Colocar los enlaces en fila */
}

.nav-links li {
    margin-left: 30px; /* Espaciado entre enlaces */
    margin-right: 10px;
}

.nav-links li a {
    color:  rgb(250, 223, 211); 
    text-decoration: none; /* Quitar subrayado */
    transition: color 0.3s ease; /* Transición para hover */
}

.nav-links li a:hover {
    color: #352d25; /* Cambiar color al pasar el cursor */
}
/*Estilos de la seccion hero*/
.hero{
    background-image: url("https://static.vecteezy.com/system/resources/previews/028/216/975/non_2x/light-coffee-break-ambiance-free-photo.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color:rgb(255, 255, 255);
    padding: 160px 0;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

.contenedor-boton{
    padding-top: 50px;
}

.boton-menu {
    margin: 15px;
    padding: 9px;
    background-color: rgb(70, 69, 59);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Añadir transición */
}

.boton-menu:hover {
    background-color: rgb(105, 103, 81);
    transform: scale(1.1); /* Agrandar al pasar el cursor */
}



/*Seccion de productos*/
.bot{
    background-color: #9a896c;
    position:fixed; /* Hace que el div permanezca fijo */
    top: 610px;
    bottom: 500px;    
    right: 20px;    
    width: 80px;   
    height: 25px;  
    border-radius: 10px;      
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 10px;        
    overflow-y: auto;  
    transition: transform 1s ease, background-color 0.3s ease;
}
.bot a{
     text-decoration: none;
     color: rgb(250, 223, 211);
}
.bot:hover{
    background-color: #a49c7f;
    transform: scale(1.1);
}
.featured-products, .postres, .equipo{
    padding: 60px;
    text-align: center;
}

.product-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product{
    width: 300px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #e4e4d3;
    border-radius: 50px;
    transition: transform 1s ease, background-color 0.3s ease; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.product:hover{
     transform: scale(1.2);/* Agrandar al pasar el cursor */
}
.product img{
    width:70%;
    height: 200px;
    object-fit: cover;
    margin: 30px 10px 20px 10px;
}
.product img:hover{
    transform: scale(1.05);
    transform: rotate(3deg);
}
.product-container{
    background-color:  #bba289;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.postres{
    background-color: #bba289;
}
.postres h2{
    margin-bottom: 30px;
}

/*Seccion de postres*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); /*Responsive*/
    gap: 30px; /*espaciado*/
}

.postre img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*Seccion de personal*/
.equipo h2{
    margin-bottom: 40px;
}
.equipo-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.miembro{
    width: 200px;
    margin-bottom: 35px;
}
.miembro img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}


/*Estilos del pie de pagina*/
footer{
    background-color:   #685841;
    color:  rgb(250, 223, 211);
    text-align: center;
    padding: 10px 0;

}
.social-media{
    margin-bottom: 25px;
}

.social-media a{ /*Enlaces*/
    /*Colores y tamaño de mis iconos*/
    color:rgb(250, 223, 211);
    margin: 0 10px;
    font-size: 24px;
}

.newsletter{
    text-align: center;
    margin-bottom: 20px;
}

.newsletter h3{
    margin-bottom: 20px;
}

.newsletter input[type="email"]{
    padding: 8px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    margin-bottom: 10px;
}

.newsletter button[type="submit"]{
    background-color: rgb(47, 56, 35);
    color:white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.sandwiches{
    padding: 50px;
    text-align: center;
}
.sandwiches h2{
    margin-bottom: 20px;
}
.grid-sandwich{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*4 Columnas de igual tamaño*/
    grid-template-rows: repeat(2, 260px);/*2 Filas de 250px*/
    gap: 20px; /*Espaciado entre cajitas*/
    grid-template-areas: 
    "sandwich1 sandwich1 sandwich2 sandwich3"
    "sandwich1 sandwich1 sandwichPollo sandwich5";
}
.sandwich{
    border: 1px solid gray;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.sandwich img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}
/*Asignar areas a los sandwiches*/ 
.sandwich:nth-child(1) {grid-area: sandwich1;}
.sandwich:nth-child(2) {grid-area: sandwich2;}
.sandwich:nth-child(3) {grid-area: sandwich3;}
.sandwich:nth-child(4) {grid-area: sandwichPollo;}
.sandwich:nth-child(5) {grid-area: sandwich5;}


@media screen and (max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .nav-links li{
        margin: 10px 0;
    }
    .hero h2{
        font-size: 2rem;
    }
}
/*Para pantallas medianas*/
@media screen and (min-width: 768px) and (max-width:1024px){
    .product-list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .product{
        width: 45%;
    }
}
