*{
    padding: 0;
    margin:0;
}

body{
    background-color: rgb(217, 203, 184);
    font-family: "PT Serif", serif;
}
.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
  }
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centrar verticalmente todos los elementos */
    padding: 0px 5px 5px 0px;
    background-color:  #525239;
}

.logo {
    display: flex; /* Organizar logo en fila */
    align-items: center; /* Centrar verticalmente imagen y texto */
}

.logo img {
    width: 60px; /* Tamaño de la imagen del logo */
    height: auto; /* Mantener proporciones */
    margin-top: 3px;
    margin-left: 9px;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Añadir transición */
}
.logo img:hover{
    transform: scale(1.1); /* Agrandar al pasar el cursor */
}

.nav-links {
    list-style: none; /* Quitar viñetas */
    margin: 0;
    padding: 0;
    display: flex; /* Colocar los enlaces en fila */
}

.nav-links li {
    margin-left: 20px; /* Espaciado entre enlaces */
}

.nav-links li a {
    color: black; /* Cambiar color de enlaces */
    text-decoration: none; /* Quitar subrayado */
    transition: color 0.3s ease; /* Transición para hover */
}

.nav-links li a:hover {
    color: #ccc2ad; /* Cambiar color al pasar el cursor */
}
/*Estilos de la seccion hero*/
.hero{
    background-image: url("https://static.vecteezy.com/system/resources/previews/028/216/975/non_2x/light-coffee-break-ambiance-free-photo.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color:rgb(255, 255, 255);
    padding: 160px 0;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

.contenedor-boton{
    padding-top: 50px;
}

.boton-menu {
    margin: 15px;
    padding: 9px;
    background-color: rgb(70, 69, 59);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Añadir transición */
}

.boton-menu:hover {
    background-color: rgb(105, 103, 81);
    transform: scale(1.1); /* Agrandar al pasar el cursor */
}



/*Seccion de productos*/
.featured-products, .postres, .equipo{
    padding: 60px;
    text-align: center;
}

.product-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product{
    width: 300px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #e4e4d3;
    border-radius: 50px;
    transition: transform 1s ease, background-color 0.3s ease; /* Añadir transición */
}
.product:hover{
    /* Agrandar al pasar el cursor */ transform: scale(1.2);
}
.product img{
    width:70%;
    height: 200px;
    object-fit: cover;
    margin: 30px 10px 20px 10px;
}
.product img:hover{
    transform: scale(1.05);
    transform: rotate(3deg);
}
.product h3{
    background-color:  #898969;
}
.product p{
    background-color:  #898969;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.postres h2{
    margin-bottom: 30px;
}

/*Seccion de postres*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); /*Responsive*/
    gap: 30px; /*espaciado*/
}

.postre img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
/*Seccion de personal*/
.equipo{
    background-color: antiquewhite;
}
.equipo h2{
    margin-bottom: 40px;
}
.equipo-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.miembro{
    width: 200px;
    margin-bottom: 35px;
}
.miembro img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}


/*Estilos del pie de pagina*/
footer{
    background-color:  #898969;
    color:antiquewhite;
    text-align: center;
    padding: 10px 0;

}